<%- include('comunes/header',{titulo:titulo}) %>

<body>
<div class="container">


    <h1>Gestión de Usuarios</h1>
    <p>Buscar por nombre o correo</p>

    <script>
        function borrar(evento) {
            console.log(evento)
            const respuesta = confirm('¿Estás seguro?')
            if (!respuesta) {
                evento.preventDefault()
            }
            console.log(respuesta)
        }
    </script>

    <form action="/Usuario/inicio" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="busqueda">Busqueda</label>
                    <input class="form-control" id="busqueda" type="text" name="busqueda">
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit"
                        class="btn btn-outline-info btn-buscar btn-block">Buscar
                </button>

            </div>
        </div>
    </form>

    <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

    <% if(existeMensaje){ %>

        <div class="animated fadeOut alert alert-<%= accion %>" role="alert">
            MENSAJE: <%= mensaje %>
        </div>

    <% } %>

    <h2>Usuarios</h2>

    <table class="table table-hover animated fadeInUp">
        <caption>Lista de usuarios</caption>
        <!--tr -> table row-->
        <thead>
        <tr>
            <!--th = table header-->
            <th width="25%">Nombre</th>
            <th width="25%">Correo</th>
            <th width="20%">Fecha Nacimiento</th>
            <th width="30%">Acciones</th>
        </tr>
        </thead>

        <% arreglo.forEach ((usuario) => { %>
            <tr>
                <td>
                    <%= usuario.nombre %>
                </td>
                <td>
                    <%= usuario.correo %>
                </td>
                <td>
                    <%= usuario.fechaNacimiento %>
                </td>
                <td>
                    <form action="/Usuario/borrar/<%= usuario.id %>" method="post">
                        <!--<button type="button">Yo no</button>-->
                        <!--<button>Yo tambien</button>-->
                        <button onclick="borrar(event)" type="submit"
                                class="btn btn-outline-danger btn-block">Eliminar
                        </button>

                    </form>
                    <a href="/Usuario/actualizar-rol/<%= usuario.id %>">
                        <button type="button"
                                class="btn btn-outline-info btn-block">Actualizar Rol
                        </button>
                    </a>
                </td>
            </tr>
        <% }) %>

    </table>
</div>
<%- include('comunes/librerias') %>
</body>

</html>




