<%- include('comunes/header',{titulo:'Gestion de Tiendas'})%>

<div class="container">

    <% var creando = typeof tienda === "undefined" ? true : false; %>

    <script>
        function borrar(evento) {
            console.log(evento)
            const respuesta = confirm('¿Estás seguro?')
            if (!respuesta) {
                evento.preventDefault()
            }
            console.log(respuesta)
        }
    </script>

    <h1>Gestión de Tiendas</h1>
    <p>Busque, cree, actualice y elimine Tiendas.
    <br>Busca tiendas por el nombre</p>


    <form action="/Tienda/tiendas" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="busqueda">Busqueda</label>
                    <input class="form-control" id="busquedaId" type="text" name="busqueda">
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-outline-success btn-block espaciado-busqueda">Buscar</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
            <a href="/Tienda/crear-tienda">
                <button class="btn btn-outline-success btn-block">
                    Registrar Tienda
                </button>
            </a>
        </div>
    </div>

    <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

    <% if(existeMensaje){ %>

        <div class="animated fadeOut alert alert-<%= accion %>" role="alert">
            MENSAJE: <%= mensaje %>
        </div>

    <% } %>

    <h2>Lista de tiendas</h2>
    <p>Listado de tiendas, actualice o elimine una tienda</p>

    <div class="scroll-table">
        <table class="table table-hover animated slideInLeft">
            <thead>
            <tr>
                <th width="30%">ID</th>
                <th width="50%">Nombre</th>
                <th width="20%">Direccion</th>
                <th width="20%">fechaApertura</th>
                <th width="20%">RUC</th>
                <th width="20%">Matriz</th>
            </tr>
            </thead>

            <tbody>
            <% arreglo.forEach ((tienda) => { %>
                <tr>
                    <td>
                        <%= tienda.id %>
                    </td>
                    <td>
                        <%= tienda.nombre %>
                    </td>
                    <td>
                        <%= tienda.direccion %>
                    </td>
                    <td>
                        <%= tienda.fechaApertura %>
                    </td>
                    <td>
                        <%= tienda.RUC %>
                    </td>
                    <td>
                        <%= tienda.matriz %>
                    </td>
                    <td>
                        <form action="/Tienda/borrar/<%= tienda.id %>" method="post">
                            <!--<button type="button">Yo no</button>-->
                            <!--<button>Yo tambien</button>-->
                            <button onclick="borrar(event)" type="submit"
                                    class="btn btn-outline-danger btn-block">Eliminar
                            </button>

                        </form>
                        <a href="/Tienda/actualizar-tienda/<%= tienda.id %>">
                            <button type="button"
                                    class="btn btn-outline-info btn-block "
                                    >
                                Actualizar
                            </button>
                        </a>
                    </td>
                </tr>
            <% }) %>
            </tbody>

        </table>
    </div>

</div>

<%- include('comunes/librerias') %>

</body>
</html>