<%- include('comunes/header',{titulo:'Ventas'}) %>

<div class="container">


    <h1>Gestión de Ventas</h1>
    <p>Buscar por nombre</p>

    <form action="/Venta/ventas" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="busqueda">Busqueda</label>
                    <input class="form-control" id="busqueda" type="text" name="busqueda">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-outline-info btn-buscar btn-block">Buscar
                    </button>
                </div>

            </div>
        </div>
    </form>

    <h2>Ventas</h2>

    <table class="table table-hover animated fadeInUp">
        <caption>Lista de ventas</caption>
        <!--tr -> table row-->
        <thead>
        <tr>
            <!--th = table header-->
            <th width="40%">Descripción de la Venta</th>
            <th width="30%">Fecha de la Venta</th>
            <th width="30%">Acciones</th>
        </tr>
        </thead>

        <% arreglo.forEach ((venta) => { %>
        <tr>
            <td>
                <%= venta.nombre %>
            </td>
            <td>
                <%= venta.fecha %>
            </td>
            <td>
                <a href="/Venta/<%= venta.id %>/ver-productos">
                    <button type="button"
                            class="btn btn-outline-info btn-block">Ver
                    </button>
                </a>
            </td>
        </tr>
        <% }) %>

    </table>
</div>
<%- include('comunes/librerias') %>
</html>